<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77728748956-akm428m87v8kjtgplqn47nhkuof08rd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77728748956-akm428m87v8kjtgplqn47nhkuof08rd1</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ4Rx4B0ThCrfwyo-j5jhN7rsLthtW17s</string>
	<key>GCM_SENDER_ID</key>
	<string>77728748956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groweb.fulltrip</string>
	<key>PROJECT_ID</key>
	<string>fulltrip</string>
	<key>STORAGE_BUCKET</key>
	<string>fulltrip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77728748956:ios:cf993569f0756fa3a5e459</string>
	<key>DATABASE_URL</key>
	<string>https://fulltrip.firebaseio.com</string>
</dict>
</plist>